@font-face {
  font-family: 'nocturnalregular';
  src: url('nocturnal_demo-webfont.woff2') format('woff2'),
  url('nocturnal_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
$main-font: "font-family: 'Montserrat', sans-serif";
$logo-font:  'nocturnalregular';


