@import "../font";
.news {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 80px;
  width: 1000px;

  h1 {
    font-size: 3em;
    border-bottom: 5px solid $main-color;
  }
  .news--loadBtn {
    width: 100%;
    height: 40px;
    background: none;
    margin-top: 10px;
    outline: none;
    border: 2px solid $main-color;
  }
}

.tiles {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $main-font;

  .tile {
    width: 45%;
    background: rgba(237,221,64,.07);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    animation: fadeIn .7s ease-in;

    &:nth-of-type(odd) {
      transform: skew(10deg);

    }
    &:nth-of-type(even) {
      transform: skew(-10deg);
    }
    &:hover{
      transform: skew(0deg);

    }
    h2{
      color: $main-color;
      text-transform: uppercase;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

